<div id="<%= dom_id order %>">
  <p>
    <strong>Name:</strong>
    <%= order.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= order.address %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= order.email %>
  </p>

  <p>
    <strong>Paytype:</strong>
    <%= order.paytype %>
  </p>
  <% if @order %>
  <h3>Order Contents</h3>
    <div id="<%= dom_id @order %>">
      <p style="color: green"><%= notice %></p>
      <ul>
        <% @order.lineitems.each do |item| %>
          <li><%= item.quantity %> | <%= item.product.name %> | $<%= item.product.price %></li>
        <% end %>
      </ul>
      Total Price: <%= @order.total_price %>
    </div>
  <% end %>

</div>
