<!DOCTYPE html>
<html>
  <head>
    <title>Programmer's Paradise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag asset_path('jdh.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body class="<%= controller.controller_name %>">
    <div class = 'banner'>
      <a href="/">
        <%= image_tag "jdh.png" %>
      </a>
      <div class="auth-wrapper">
        <% if session[:user_id] %>
          <a href="/orders"><button>Orders</button></a>
          <a href="/products"><button>Products</button></a>
          <a href="/carts"><button>Carts</button></a>
          <a href="/admin/order_num"><button>Admin</button></a>
        <% end %>
        <a href="/access/new"><button>Login</button></a>
        <a href="/access/destroy"><button>Logout</button></a>
      </div>
    </div>
    <div class = 'columns'>
      <div id="side">
        <h3>Shopping Cart</h3>
        <div id="cart">
          <%# looking for _cart.html.erb  under views/carts %>
          <% if @cart %>
            <%= render(@cart) %>
          <% end %>
        </div>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
